h1{
    text-align: center;
}

form{
    background-color: rgba(73, 73, 73, 0.274);
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.grupo fieldset{
    text-align: center;
    margin: 10px 0px 7px 0;
    padding:5px;

}

input[type=submit]{
    margin-left: 135px;
    height: 30px;
    width: 90px;
    cursor: pointer;
    
}

input[type=submit]:hover{
    background-color: rgba(0, 0, 0, 0.329);
}

#res{
    margin-top: 5px;
    width: 100%;
    background-color: white;
    text-align: center;
}

input[type=submit]{
    margin-top: 10px;
    margin-left: 150px;
}